/*
    Author:武也婷 施迎楠
    BuildDate:2018-4-17
    Version:1.0
    Function:Bootstrap
 */

body {
    padding-top: 70px;
}


/*使coffee house对齐*/

.navbar-text {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
}

input {
    width: 30%;
}


/*底部文字居中*/

footer p {
    text-align: center;
}


/*增加图片的旋转效果*/

img:hover {
    transform: scale(1.5, 1.5) rotate(10deg);
    /*放大1.5倍，且旋转10度*/
    border: solid 1px;
    /*边框*/
    border-color: #333;
    padding: 3px;
    /*边框间距*/
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver;
    width: 100%;
    margin: 15px auto;
    position: relative;
    top: 20px;
}

legend {
    text-align: center;
    padding: .5em;
    border: 0;
    width: 120px;
    font-weight: bolder;
    margin-bottom: 0px;
    position: relative;
    background: #fff;
    left: -10%;
    top: -30px;
}